main.search-results{

    .hero{
        min-height:600px;
        overflow:hidden;
        position:relative;

        .hero-bg{
            height:100%;
            left:0;
            position:absolute;
            top:0;
            width:100%;
        }

        h1{
            margin-top:235px;
            position:relative;
        }
    }

    .content-container{
        padding-bottom:158px;
        padding-top:50px;
        position:relative;

        .bg{
            display:flex;
            height:100%;
            left:0;
            position:absolute;
            top:0;
            width:100%;

            .left{
                height:100%;
                width:50%;
            }
            .right{
                height:100%;
                width:50%;
            }

        }

        .product-content{
            position:relative;

            .d-grid{
                gap:15px;
                grid-template-columns: repeat(1, 1fr);

                .item{
                    border:none;
                    flex-direction:column;
                    border-radius:20px;
                    justify-content:start;
                    overflow:visible;
                    padding:30px 18px;
                    position:relative;
                    text-align:center;
                    text-decoration:none;
                    width:100%;

                    &:before,
                    &:after{
                        content:'';
                        position:absolute;
                    }
        
                    &:before{
                        background:rgba(255,255,255,0.8);
                        border:2px solid rgba(0,0, 0, 0.25);
                        border-radius:20px;
                        height:100%;
                        left:0;
                        opacity:1;
                        top:0;
                        width:100%;
                        z-index:1;
                    }
        
                    &:after{
                        border:8px solid #ffc294;
                        border-radius:28px;
                        height:calc(100% + 16px);
                        left:-8px;
                        opacity:0;
                        top:-8px;
                        transform:scale(0.8);
                        transition:250ms transform, 250ms opacity;
                        width:calc(100% + 16px);
                        z-index:0;
                    }

            
                    &:hover{
                        
                        
                        
                        &:before{
                            border:2px solid #ffc294;
                        }
                        
                        &:after{
                            border:8px solid rgba(255, 194, 148, 0.5);
                            opacity:1;
                            transform:scale(1);
                        }
                        
                    }

                    p{
                        margin-top:38px;
                        position:relative;
                        z-index:3;
                    }

                    h4{
                        position:relative;
                        z-index:3;
                    }
                }

            }
        }

        .pagination{
            margin-top:50px;
            position:relative;

            .navigation{
                width:100%;

                ul{
                    align-items:center;
                    display:flex;
                    list-style-type:none;
                    margin:0;
                    padding:0;

                    li{
                        a.arrow{
                            background:url(/wp-content/uploads/2023/04/carousel-arrow.svg)no-repeat center;
                            background-size:contain;
                            display:block;
                            height:30px;
                            border:none;
                            width:18px;

                            &:before,
                            &:after{
                                content:none;
                            }

                            &.prev{
                                transform:rotate(180deg);
                            }
                        }

                        a{
                            align-items:center;
                            background:white;
                            border-radius:50px;
                            color:#26465f;
                            display:flex;
                            font-family:'Powerr';
                            font-size:25px;
                            height:54px;
                            justify-content:center;
                            margin:0 11px;
                            position:relative;
                            text-decoration:none;
                            transition:250ms outline;
                            width:54px;

                            &:before,
                            &:after{
                                border-radius:50px;
                                content:'';
                                opacity:1;
                                position:absolute;
                            }

                            &:before{
                                background:white;
                                border:2px solid #E0E0E0;
                                height:calc(100% + 2px);
                                left:-1px;
                                top:-1px;
                                transition:250ms border;
                                width:calc(100% + 2px);
                                z-index:2;
                            }

                            &:after{
                                border:8px solid rgba(255, 194, 148, 0.5);
                                height:calc(100% + 16px);
                                left:-8px;
                                top:-8px;
                                transform:scale(0.25);
                                transition:250ms transform, 250ms opacity;
                                width:calc(100% + 16px);
                                z-index:1;
                            }

                            span{
                                opacity:0.5;
                                position:relative;
                                transform:translate3d(0, 2px, 0);
                                z-index:3;
                            }
                        }

                        &.active,
                        &:hover{
                            a{

                                &:before{
                                    border:2px solid #ffc294;
                                    opacity:1;
                                }
                                &:after{
                                    opacity:1;
                                    transform:scale(1);
                                }

                                span{
                                    opacity:1;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    

    .no-results{}
}


@media screen and (min-width:700px){
    main.search-results{
        .content-container{

            .bg{
    
                .left{
                    background:url(/wp-content/uploads/2023/03/home-related-industries-bg.jpg)no-repeat 40% 0 white;
                    background-size:auto 100%;
                }
                .right{
                    background:url(/wp-content/uploads/2023/03/home-related-resources-bg.jpg)no-repeat 48% 0 white;
                    background-size:auto 100%;
                }
    
            }

            .product-content{
                .d-grid{
                    grid-template-columns: repeat(2, 1fr);

                }
            }
        }
    }
}


@media screen and (min-width:900px){
    main.search-results{
        .content-container{
            .product-content{
                .d-grid{
                    grid-template-columns: repeat(3, 1fr);

                }
            }
        }
    }
}



@media screen and (min-width:1200px){
    main.search-results{
        .content-container{

            .bg{
    
                .left{
                    background:url(/wp-content/uploads/2023/03/home-related-industries-bg.jpg)no-repeat 25% 0 white;
                    background-size:auto 100%;
                }
                .right{
                    background:url(/wp-content/uploads/2023/03/home-related-resources-bg.jpg)no-repeat 50% 0 white;
                    background-size:auto 100%;
                }
    
            }
        }
    }
}

