main.search-results{

    .hero{
        min-height:600px;
        overflow:hidden;
        position:relative;

        .hero-bg{
            height:100%;
            left:0;
            position:absolute;
            top:0;
            width:100%;
        }

        h1{
            margin-top:2em;
            position:relative;
        }
    }
    .breadcrumbs{

        a,a:visited,a:active{
            font-family:'Powerr';
            font-size:16px;
            color:#8f9ca8;
            margin-left:8px;
            margin-right:8px;
            text-decoration:none;
            width:auto;

            

            &:nth-child(2){
                margin-left:0;
            }

            &:last-child{
                border:8px solid #fff1e6;
                border-radius:50px;
                color:#26465f;
                margin-right:0;
                overflow:hidden;
                padding:8px 44px;
                pointer-events:none;
                position:relative;


                &:before{
                    border:2px solid #ffc294;
                    border-radius:50px;
                    content:'';
                    height:100%;
                    left:0;
                    position:absolute;
                    top:0;
                    width:100%;
                }
            }
        }

        .breadcrumb-connector{
            height:20px;
            padding:0;
            transform:translate3d(0, -4px, 0);
            width:20px;

            &:first-child{
                display:none;
            }

            svg{
                fill:#8f9ca8;
            }
        }
    }

    .no-results{}
}