
@import '_fonts';

/*
BASE UNDERSCORES THEME CSS
*/
@import '_underscores';


/*
CUSTOM BOOTSTRAP
*/


@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_maps";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 900px,
  lg: 1000px,
  xl: 1200px,
  xxl: 1900px
);

$custom-colors: (
    "darkblue" : #26465f,
    "blue": #0085ca,
    "seafoam": #45bdb3,
    "orange": #ff8729,
    "gray" : #e6e7e8
);

$theme-colors: map-merge( $custom-colors, $theme-colors);


@import '../../../node_modules/bootstrap/scss/bootstrap';


@media (min-width:1900px){
    .container.xxl, .container.xl, .container.md, .container.sm, .container{
        max-width:1574px;
    }
}

/*
SANYGEN
*/

@import '_sanygen';
@import '_footer';
@import '_header';
@import '_home';
@import '_category';
@import '_standardpage';
@import '_searchresults';
@import '_products';
@import '_productdetail';

